@{
    ViewBag.Title = "Home";
}

<div class="row paper_group">
    <div class="col-1-3">
        <img class="photo" src="~/Content/Images/avatar.jpg" alt="Novikov Andrey" />
    </div>
    <div class="col-2-3">
        <div class="paper">
            <div class="paper_up">
                <h1>Novikov Andrey Igorevich</h1>
            </div>

            <h3>DevSkills</h3>
            <br />
            <h4>С++</h4>
            <ul>
                <li>High standard of knowledge</li>
                <li>Standard C ++ 14</li>
                <li>MFC</li>
            </ul>
            <h4>С#</h4>
            <ul>
                <li>High standard of knowledge</li>
                <li>C# 6.0</li>
                <li>.net Framework 4.6</li>
                <li>WPF</li>
            </ul>
            <h4>Python</h4>
            <ul>
                <li>Python 3.x</li>
            </ul>
        </div>
    </div>
</div>
<!--SKILLS-->
<div class="paper_group row">
    <div class="col-1">
        <div class="paper">
            <div class="paper_up">
                <h2>Development of desktop and server applications</h2>
            </div>
            <ul>
                <li>Windows </li>
                <li>OS X</li>
                <li>Linux</li>
            </ul>
        </div>
    </div>
    <div class="col-1-2">
        <div class="paper">
            <div class="paper_up">
                <h2>Game moding</h2>
            </div>
            <ul>
                <li>Unity engine</li>
                <li>Unreal engine</li>
            </ul>
            <h3>Wide experience of a moding:</h3>
            <div>Kerbal Space Program</div>
        </div>
    </div>
    <div class="col-1-2">
        <div class="paper">
            <div class="paper_up">
                <h2>Dev mobile applications</h2>
            </div>
            <h3>Crossplatform or native</h3>
            <ul>
                <li>Android </li>
                <li>IOS</li>
                <li>WinFon</li>
            </ul>
        </div>
    </div>
</div>