
<div class="leftMenu" id="leftMenu">
    <div><button class="leftMenuItem" onclick="location.href = '/home/Index'">AnoviSoft</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Album'">Album</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Contact'">Contact</button></div>
    <div><button class="leftMenuItem" onclick="location.href = '/home/Quote'">Quote</button></div>
    <img style="position: relative; bottom: 0; width: 90%; left: 5%" alt="" src="@Url.Action("ImageInfo","Home")?url=@Request.RawUrl"/>
</div>