
<div class="paper_group">
    <div class="paper">
        <div class="paper_up">
            <h2>Social</h2>
        </div>
        <div class="row">
            <div class="col-1-8">
                <img class="socImg cborder" alt="vk.com/craftydeveloper" src="/Content/Images/icon_vkontakte.png" onclick="location.href = 'https://vk.com/anovis'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="urfu.ru" src="/Content/Images/icon_urfu.png" onclick="location.href = 'http://urfu.ru/en/'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="www.facebook.com/profile.php?id=100001930047747" src="/Content/Images/icon_face.png" onclick="location.href = 'https://www.facebook.com/profile.php?id=100001930047747'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="plus.google.com/u/0/112157981808654194368" src="/Content/Images/icon_google.png" onclick="location.href = 'https://plus.google.com/u/0/112157981808654194368'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="twitter.com/l0dom" src="/Content/Images/icon_tweet.png" onclick="location.href = 'https://twitter.com/l0dom'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="www.youtube.com/channel/UCM_UOFYX1K7huJsPkt4TXXQ" src="/Content/Images/icon_youtube.png" onclick="location.href = 'http://www.youtube.com/channel/UCM_UOFYX1K7huJsPkt4TXXQ'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="L0dom@hotmail.com" src="/Content/Images/message.png" onclick="location.href = 'mailto:L0dom@hotmail.com'" />
            </div>
            <div class="col-1-8">
                <img class="socImg cborder" alt="Anovi-Soft@hotmail.com" src="/Content/Images/message.png" onclick="location.href = 'mailto:Anovi-Soft@hotmail.com'" />
            </div>
        </div>
    </div>
</div>